.magia {
    position: relative;
    width: 800px;
    height: 400px;
    color: white;
}
.demo_map {
    z-index: 1;
    position: relative;
    background-color: cyan;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    transition: transform .3s cubic-bezier(.2,.85,.4,1.275);
}
.demo_m {
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    background-color: orange;
    transform: rotateY(-180deg);
    transition: transform .3s cubic-bezier(.2,.85,.4,1.275);
}
.magia:hover .demo_m {
    transform: rotateY(0deg);
    z-index: 2;
}
.magia:hover .demo_map {
    transform: rotateY(180deg);
    z-index: -1;
}