.registration-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10rem;
    margin-bottom: 10rem;
    background-color: white;
}
body {
    background-color: #1A4D70;
}
.header {
    position: static;
}
.form-group {
    margin-bottom: 15px;
    position: relative;
}
.form-group:hover::before {
    content: "Заполните это поле";
    position: absolute;
    top: -20px; 
    left: 0;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    color: red;
}
.form_wrapper {
    margin-left: 5rem;
    margin-top: 3rem;
}
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="radio"] {
    margin-right: 5px;
}

.form-actions {
    margin-top: 20px;
}

.submit-button,
.reset-button {
    padding: 10px 20px;
    border: none;
    background-color:#F9572B;
    color:white;
    margin-left: 10rem;
}
footer {
    position: sticky;
    bottom:0;
    background-color: #1A4D70;
}
.definitions {
    font-family: Arial, sans-serif;
    color:white;
    margin: 0 auto;
    max-width: 50rem;
}
li {
    list-style-type: none;
}

input[type="checkbox"]:checked {
    background-color: #ff0000; /* Красный фон для выбранных чекбоксов */
}
dt, legend {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
dd, li {
    font-size: 1.4rem;
    margin-bottom: 3rem
}
 {
    text-decoration: line-through;
}


.definitions dt {
    font-weight: bold;
    text-decoration: underline;
}

.definitions dd::before {
    content: "🛈";
    margin-right: 5px;
}

input[type="checkbox"] + label {
    text-decoration: none;
}

input[type="checkbox"]:checked + span{
    text-decoration: line-through;
}

fieldset:nth-of-type(odd) {
    background-color: #f9f9f9;
}

fieldset:nth-of-type(even) {
    background-color: #eaeaea;
}
fieldset {
    max-width: 80%;
    padding: 2rem;
    margin-left: 10%;
}
.vb {
    padding-top: 2rem;
}
li:nth-child(odd) {
    color: red;
}
.header_logo {
    transform: rotate(30deg);
    transform: scale(1.5);
    transform: skew(20deg, 10deg);
}
.submit-button1 {
    padding: 10px 20px;
    border: none;
    background-color:#F9572B;
    color:white;
    margin-left: 40%;
    margin-top: 2rem;

}
