@import "../fonts/Roboto/stylesheet.css";

:root {
    font-size: 62.5%;
    --main-color: #1A4D70;
    --orange-color: #F9572B;
    color: var(--main-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

header {
    padding: 41px 360px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* h1,
h2,
h3,
p {
    color: var(--main-color);
} */
h1 {
    font-size: 32px
}

h2 {
    font-weight: 700;
    font-size: 36px;
}

p {
    font-weight: 400;
    font-size: 16px;
}

li::marker {
    font-size: 0px;
}

a {
    text-decoration: none
}

.black-text{
    font-weight: 900;
}

.blue-text{
    


} 

.advantage h3 {
    font-size: 24px;
    font-weight: 700;
}
.advantage p {
    font-size: 16px;
    font-weight: 400;
}
.text-white {
    color:white;
    /* временное решение:  */
    background-color: black;
}

.towns-text {
    font-size: 16px;
    font-weight: 500;
}
div p:nth-child(1) {
    font-size: 16px;
}
body {
    background-image:url("./images/background.png")
}