@import "../fonts/Roboto/stylesheet.css";

:root {
    font-size: 62.5%;
    --main-color: #1A4D70;
    --orange-color: #F9572B;
    --ser-color: #777777
    color: var(--main-color);
}

* {
    /* box-sizing: border-box;
    margin: 0;
    padding: 0; */
    font-family: 'Roboto';
}

.header {
    height: 100px;

}

.wrapper {
    max-width: 100%;

}

.header__logo {
    padding-left: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

/*.header {
    padding: 41px 360px;
    display: flex;
    justify-content: flex-start;
    width: 100%;




/* h1,
h2,
h3,
p {
    color: var(--main-color);
} */
h1 {
    font-size: 3.2rem;
    text-align: center;
    color: white;
}

h2 {
    font-weight: 700;
    font-size: 3.6rem;
    text-align: center;
    color: var(--main-color);
}
h3 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--main-color)

}

p {
    font-weight: 400;
    font-size: 1.6rem;
    color:#1A4D70;
}

li::marker {
    list-style: none;
}

a {
    text-decoration: none
}

.black-text {
    font-weight: 900;
}

.blue-text { 
    color: #1A4D70;
}

.advantage h3 {
    font-size: 2.4rem;
    font-weight: 700;
}

.advantage p {
    font-size: 1.6rem;
    font-weight: 400;
}

.text-white {
    color: white;
}

.towns-text {
    font-size: 1.6rem;
    font-weight: 500;
}

div p:nth-child(1) {
    /* font-size: 1.6rem; */
}


.background {
    background-image: url(../images/background.png), url();
    background-repeat: no-repeat;
    background-size: 100%;
}

.background__down {
    width: 100%;
    background-size: 100%;
    height: 100%;
    vertical-align: middle;
}



.sity__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 5.7rem;
    grid-column-gap: 0.8rem;
    padding-left: 5rem;
}
.sity-text {
    color:#1A4D70;
    font-size: 16px;
    font-weight: 500;
}

/*.icon1::before {
    content: url(../images/Star11.svg);
    position: absolute;
    left: -19px;
    top: -25px;
    z-index: 10;
    text-align: center;
}*/

.icon1 {
    position: relative;
    
    margin-top:5rem;
    margin-bottom:5rem;
}

/*.icon1 p {
    z-index: 20;
    position: relative;
    color: red;
    text-align: center;
}*/
.numbers__list {
    background-color: #EFEFEF;
}

.button {
    background-color: #F9572B;
    
    text-align: center 
}
.text_comp {
    margin: 0 25px 10px 25px;
    color: var(--main-color)
}
.communication_orang {
    background-color: #F9572B;
    height: 31.7rem;
}
.communication_ser {
    background-color: #777777;
    height: 11.2rem;
}
.customers {
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
}
.bg1 {
    background-image: url(../images/bg1.png);
}
.bg2 {
    
}
.statistic {
    background-color: #EFEFEF;
}
.statistik_text {
    font-size: 1.6rem;
    font-weight: 900;
    color: var(--main-color);
   
}
.statistik_num {
    font-size: 10.0rem;
    color:var(--orange-color);
    text-align:center;
    width: 18rem;
    height: 10.7rem;
    background-image: url(../images/Star11.svg);
}
.advantage {
    background-color: white;
}
.equipment_but {
    display: inline;
    background-color:#F9572B;
    height: 5.1rem;
}
.equipment_but_m {
    background-color: #F9572B;
    width: 13.8rem;
    height: 5.1rem;
    border:none;
}
.equipment_text {
    color:white;
    font-size: 1.6rem;
    font-weight: 900;

}
.afterstatistic{
    size: 100%;
}
.email {
    display: flex;
    flex-direction: row;
    gap: 2.3rem;
}
.email_reight{
    display: flex;
    flex-direction: column;
    gap:0.01rem;
}
.email_text{
    font-size: 1.6rem;
    font-weight: 900;
}
.email_link {
    font-size: 1.6rem;
    font-weight: 500;
    color:var(--main-color);
}
.location {
    display: flex;
    flex-direction: row;
    gap: 2.3rem;
}
.location_reight{
    display: flex;
    flex-direction: column;
    gap:0.1rem;
}
.orang_text {
    color:white;
    font-size: 16px;
    font-weight: 900;
}
.orang_link {
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.button_go {
    background-color: #F9572B;
    width: 13.8rem;
    height: 5.1rem;
    border:none;
}
.text_go {
    font-size: 16px;
    font-weight: 500;
    color:white;
}